.container {
    display: flex;
    justify-content: space-between;

    .leftArrow  {
        margin: 0px 5px;
        margin-left: 0;
    }

    .rightArrow {
        margin: 0px 5px;
        margin-right: 0;
    }
}

.pageInput {
    margin-right: 10px;
}
