.content {
  display: grid;
  grid-template-columns: 100%;
  padding: 10px;


  button {
    margin-left: 10px;
  }

  .selectGroup {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-row-start: 1;
    grid-column-start: 1;
    grid-column-end: 3;


    .selectPersons, .selectAccounts {
      height: 100%;
      margin-left: 0;
      padding: 0;

      .select {
        margin-left: 0;
        width: 95%;

      }

      button {
        margin-left: 1%;
        margin-right: 1%;
        height: 40px;
      }
    }

    .selectPersons {
      display: flex;
      grid-column-start: 1;
      grid-column-end: 2;
    }

    .selectAccounts {
      display: flex;
      grid-column-start: 2;
      grid-column-end: 3;
      float: right;
    }
  }

  @media only screen and (max-width: 750px){
    .transactionsSummary {
      grid-row-start: 4;
    }

    .transactionsArea {
      grid-column-start: 1;
      grid-row-start: 3;
    }
  }

  @media only screen and (min-width: 750px){
    grid-template-columns: 70% 30%;

    .transactionsArea {
      display: grid;
      grid-column-start: 1;
      grid-row-start: 3;
    }

    .summaries {
      grid-column-start: 2;
      grid-row-start: 3;
      margin-left: 20px;
    }
  }
}

    
.transactionActions {
  
  background-color: #242121;
  margin-top: 20px;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 0;
}

.left {
  float: left;
}

.right {
  float: right;
}


.alignRight {
  text-align: right;
}

.clear {
  clear: both;
}

.primary {
  height: 100%;
  color: #fff;
  background-color: #28a745;
  border-color: #28a745;
  border-radius: 0.25rem;
  padding-left: 20px;
  padding-right: 20px;
  border: 1px solid transparent;
  transition: color .15s ease-in-out,
  background-color .15s ease-in-out, 
  border-color .15s ease-in-out, 
  box-shadow .15s ease-in-out;
  user-select: none;
}

.primary:hover {
  color: #fff;
  background-color: #218838;
  border-color: #1e7e34;
}

.primary:focus {
  box-shadow: 0 0 0 0.2rem rgba(40,167,69,.5)
}

.secondary {
  height: 100%;
  color: #fff;
  background-color: #6c757d;
  border-color: #6c757d;
  border-radius: 0.25rem;
  padding-left: 20px;
  padding-right: 20px;
  border: 1px solid transparent;
  transition: color .15s ease-in-out,
  background-color .15s ease-in-out, 
  border-color .15s ease-in-out, 
  box-shadow .15s ease-in-out;
  user-select: none;
}

.secondary:hover {
  color: #fff;
  background-color: #5a6268;
  border-color: #5a6268;
}

.secondary:focus {
  box-shadow: 0 0 0 0.2rem rgba(40,167,69,.5)
}

.pagination {
  clear: both;
}

.searchQuery {
  width: 50%;
  height: 20px;
}
